.banner {
  position: relative;
  margin: 40px auto;
  border-radius: 25px;
  overflow: hidden;
  height: 223px;
  max-width: 1240px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;

  @media (max-width: 768px) {
    height: 111px;
    margin: 0px auto;
    }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__text {
    position: relative;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 24px;
      text-align: left;
      padding: 0 32px 0 0;
      max-width: 265px; 
    }
  }
}
