.home {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 0px 40px;

  @media (max-width: 768px) {
    padding: 0;
  }

  &__grid {
    margin-top: 40px;
    padding: 40px;
    border-radius: 25px;
    background-color: #f7f7f7;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 20px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 0;
      background-color: transparent;
      margin-top: 20px;
    }
  }
}
